#cvdiv1 {
    position: relative;
}
#cvdiv2 {
    width:100%;
    height: 393px;
    position: relative;
}
canvas {
    position: absolute;
    left:0px;
    top:0px;
    border-style: solid;
    border-width: 1px;
    border-color: #808080;
    background-color: #F8F8FF;
    width: 7200px;
    height: 7200px;
    -moz-transform-origin:0 0;
    -ms-transform-origin:0 0;
    -webkit-transform-origin:0 0;
    transform-origin:0 0;
    z-index:1;
}
#transparency-canvas {
    opacity: 1.0;
    z-index:10;
    background-color: rgba(255, 255, 255, 0.0);
}

#cvdiv2 canvas {
    height: 393px;
}

#cvdiv2 #main-canvas {
    background-color: #000000;
    z-index:-1;
}

#cvdiv2 #transparency-canvas {
    z-index:0;
}

.box-sakuzu-body-canvas .compass {
    z-index:20;
}
.box-sakuzu-body .sakuzu-message {
    z-index:40;
}
#popup-tools {
    z-index:30;
    min-width:192px;
}
.box-sakuzu span+.btn {
    margin-left:5px;
}
#edit-mode-buttom {
    margin-left:1px;
    margin-right: 2px;
}